fastapi
uvicorn
langchain
langchain-groq
langchain-huggingface
langgraph
chromadb
sqlalchemy
psycopg2-binary
python-dotenv
sentence-transformers
unstructured
pypdf
python-docx
uuid
pydantic
langchain-community
mcp
tavily